<div data-controller="toggle" data-toggle-collapsed-value="<%= !(contract.documents.first.is_xml? || contract.documents.first.is_asice?) || contract.bundle.present? %>" class="w-full mb-6">
  <div class="w-full bg-white border border-gray-200 rounded-md">  
    <div 
      data-action="click->toggle#toggle"
      class="flex items-center justify-between px-4 py-3 text-sm font-medium text-gray-700 rounded-md hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 cursor-pointer">
      <div class="flex flex-col items-start">
        <span class="text-s text-gray-800"><%= contract.documents.first.filename %></span>
      </div>
      <div data-action="click->toggle#toggle">
        <button data-action="click->toggle#toggle" class="ml-2 flex-shrink-0 inline-flex items-center cursor-pointer">
          <span data-toggle-target="textCollapsed"><%= t('.show_document') %></span>
          <span data-toggle-target="textExpanded" class="hidden"><%= t('.hide_document') %></span>
          <svg data-toggle-target="icon" class="w-4 h-4 ml-1 transition-transform rotate-180" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"/>
          </svg>
        </button>
      </div>
    </div>

    <div data-toggle-target="content" data-controller="pdf-reload" class="p-2">
      <%= turbo_frame_tag "document_visualization_#{contract.documents.first.uuid}", 
                          src: visualize_document_path(contract.documents.first, t: Time.current.to_i),
                          loading: "lazy",
                          class: "min-h-[300px]",
                          data: { pdf_reload_target: "frame" } do %>
        <div class="p-4 h-[300px] flex items-center justify-center">
          <div class="flex items-center">
            <svg class="animate-spin h-5 w-5 text-gray-500 mr-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            <span class="text-gray-600"><%= t('.loading_content') %></span>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
