<%= turbo_frame_tag "bundle_notifications_#{@bundle.uuid}", class: "w-full" do %>
  <%= form_with model: @bundle, method: :put, local: true do |form| %>
    <%= form.hidden_field :step, value: "author_notifications" %>
    <%= form.hidden_field :author_notifications_enabled, value: !@bundle.author_notifications_enabled? %>
    <h3 class="text-xl font-semibold text-gray-900 mb-4"><%= t('.title') %></h3>
    <p class="text-gray-600 mb-4"><%= t('.subtitle') %></p>
    <% if @bundle.author_notifications_enabled? %>
      <div class="flex gap-x-4 items-center mt-4">
        <%= form.submit t('.turn_off'),
                        class: "items-center w-full sm:w-auto px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 cursor-pointer hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500",
                        data: { "form-submit-target": "submitButton" } %>
      </div>
    <% else %>
      <div class="flex gap-x-4 items-center mt-4">
        <%= form.submit t('.turn_on'),
                        class: "items-center w-full sm:w-auto px-4 py-2 border border-blue-300 text-sm font-medium rounded-md text-blue-700 bg-white cursor-pointer hover:bg-blue-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500",
                        data: { "form-submit-target": "submitButton" } %>
      </div>
    <% end %>
  <% end %>
<% end %>