<div class="px-6 py-5 hidden md:block">
  <h1 class="text-3xl font-bold text-gray-900"><%= t('.title') %></h1>
  <p class="text-sm text-gray-600 mt-1"><%= t('.subtitle') %></p>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-6 p-6">
  <div class="space-y-6 border border-gray-200 rounded-lg p-6 hidden md:block">
    <div class="space-y-4">
      <% (1..7).each do |i| %>
        <div class="flex items-start gap-3">
          <div class="flex-shrink-0 w-8 h-8 mt-1 bg-blue-50 text-blue-600 rounded-full flex items-center justify-center font-bold text-sm">
            <%= i %>
          </div>
          <div class="flex-1">
            <h3 class="font-semibold text-gray-900"><%= t(".step#{i}_title") %></h3>
            <p class="text-sm text-gray-600"><%= t(".step#{i}_desc_html", domain: Rails.application.config.action_controller.default_url_options[:host]) %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="space-y-6 md:border md:border-gray-200 md:rounded-lg md:p-6">
    <div class="flex justify-center">
      <a href="<%= @session.avm_url %>"
        class="block hover:opacity-75 transition-opacity duration-200 focus:ring-indigo-500 focus:ring-offset-2 rounded-lg"
        target="_blank"
        rel="noopener noreferrer"
        title="Kliknite pre otvorenie Autogramu v mobile">
        <div class="bg-white p-4 rounded-lg border border-4 border-dashed border-black transition-colors duration-200 w-96 h-96 flex items-center justify-center">
          <%= qr_code_svg(@session.avm_url) %>
        </div>
      </a>
    </div>

    <div class="text-center text-sm text-gray-500 space-y-4 px-16">
      <p><%= t('.expiry') %></p>
      <p><%= t('.note') %></p>
    </div>
  </div>
</div>
